.card {
    align-items: center;
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
}

.card-header{
font-size: 32px;
max-width: 100%;
align-items: center;
}

.card-body{
    font-size: 22px;
}


.table{
    max-width: 70%;
    margin: 0 auto;
    padding-top: 50px;
}

.img-fluid{
        max-width: 100px;
        max-height: 100px;
}


.navbar-brand{
    color:white;
}

.navbar{
    background-color: grey;
}

.nav-link{
    color:white;
}


